<main class="bg-light">
  
  <div class="container">
    <div class="row">
      <div class="col-no-gutters">
        
      
        <div class="card shadow-sm">
          <%#= image_tag 'top_image.jpg', size: "624x416" %>
          <img class="d-block mx-auto img-fluid w-80" src="assets/top_image2.jpg" alt="ようこそ">
          <div class="card-img-overlay">
            <h5 class="card-title">ようこそ、ながのCAKEへ！</h5>
              <p class="card-text">このサイトは、ケーキ販売のECサイトになります。会員でない方も、商品の閲覧はできますが、購入には会員登録が必要になります。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="container">
    <div class="row">
      <div class="col md-8">
        <h3>新着商品</h3>
        
        <div class="card-deck" style="width:71rem">
            <% @items.order('updated_at DESC').limit(4).each do |item| %>
              <div class="card shadow-sm">
                <%= link_to item_path(item) do %>
                  <%= attachment_image_tag item, :image, :fill, 270, 260, class: 'images', fallback: "no_image.jpg" %>
                <div class="card-img-overlay">
                  <h5 class="card-title"><%= item.name %></h5>
                <% end %>
                <p class="card-text"><%= item.price.to_s(:delimited) %></p>
                </div>
              </div>
            <% end %>
          
        </div>
        <h6 class="col">
          <%= link_to "全ての商品を見る", items_path %>
        </h6>
        
        </div>
      </div>
    </div>
  </div>
</main>

