<main class="bg-light">
 
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
     
           <h5>ようこそ、ながのCAKEへ！</h5>
              <p>このサイトは、ケーキ販売のECサイトになります。会員でない方も、商品の閲覧はできますが、購入には会員登録が必要になります。</p>
      
    </div>
  </div>
  
  <div class="container">
    <div class="texts-wrapper">
   <div class="contents-title">
        <h3>新着商品</h3>
        
        <div class="row no-gutters">
            <% @items.order('updated_at DESC').limit(4).each do |item| %>
              <div class="col-12 col-md-6 col-lg-3">
              <div class="card h-50 mx-auto shadow-lg">
                <%= link_to item_path(item) do %>
                  <%= attachment_image_tag item, :image, :fill, 270, 190, class: 'card-img-top', fallback: "no_image.jpg" %>
                <div class="card-img-overlay">
                  <h5 class="card-title"><%= item.name %></h5>
                <% end %>
                <p class="card-text">￥<%= item.price.to_s(:delimited) %></p>
                </div>
              </div>
              </div>
            <% end %>

        </div>
        <h6 class="col">
          <%= link_to "全ての商品を見る", items_path %>
        </h6>
        
        </div>
      </div>
    </div>
  </div>
</main>

