<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h4>注文履歴詳細</h4>
      <table class="table table-hover table-inverse">
        <tr>
          <th class= "order_article">購入者</th>
          <td><%= @order.customer.last_name + "" + @order.customer.first_name %></td>
        </tr>

        <tr>
          <th class= "order_article">配送先</th>
          <td>〒<%= @order.shipping_postal_code + " " + @order.shipping_address %><br><%= @order.shipping_name %></td>
        </tr>

        <tr>
          <th class= "order_article">支払方法</th>
          <td><%= @order.payment_method %></td>
        </tr>

        <tr>
          <th class= "order_article">注文ステータス</th>
          <td>
            <%= form_with model: [:admin,@order], local:true do |f| %>
              <td><%= f.select :status, Order.statuses.keys %></td>
              <td><%= f.submit '更新', class:"btn btn-primary btn-sm"%></td>
            <% end %>
          </td>
        </tr>

        <tbody>
          <tr>
            <td>商品名</td>
            <td>単価(税込)</td>
            <td>数量</td>
            <td>小計</td>
            <td>制作ステータス</td>
          </tr>

          <% @order_items.each do |order_item| %>
            <tr>
              <td><%= order_item.item.name %></td>
              <td><%= order_item.tax_in_price %></td>
              <td><%= order_item.quantity %></td>
              <td><%= order_item.tax_in_price * order_item.quantity %> </td>
              <%= form_with model: [:admin,order_item] do |f| %>
                <td><%= f.select :making_status, OrderDetail.making_statuses.keys %></td>
                <td><%= f.submit '更新', class:"btn btn-primary btn-sm"%></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div>
      <h4>商品合計      <%= @order.total_payment %>円</h4>
      <h4>送料　　　    <%= @order.shipping_fee %>円</h4>
      <h4>請求金額合計　<%= @order.total_payment + @order.shipping_fee %>円</h4>
    </div>
  </div>
</div>
