<div class="container">
    <div class="row justify-content-between mt-4 mb-4">
        <div class="col-auto bg-light"><h3>ショッピングカート</h3></div>
        <div class="col-auto"><%= link_to cart_items_path, method: :delete, class:"btn btn-danger" do %>カートを空にする<% end %></div>
    </div>
        <div class="col-md-12 ">
            <table class="table table-bordered">
                <thead class="table-secondary">
                    <tr>
                        <th colspan="col">商品名</th>
                        <th scope="col">単価</th>
                        <th scope="col">数量</th>
                        <th scope="col">小計</th>
                        <th scope="5"></th>
                    </tr>
                </thead>
                <% @cart_items.each do |f| %>
    
                <tbody>
                    <tr>
                        <td class="col-4">
                        　 <%= f.name %>
                        </td>
                        <td class="col-2">
                        　 <%= f.price %>
                        </td>
                        <td class="col-2">
                        　　<%= form_with(model: @cart_item, url:"cart_items/:id" ,method: :patch, local: true) do |f| %>
                                <%= f.select :quantity, {'1': 1, '2': 2, '3':3, '4':4, '5':5, '6':6, '7':7, '8':8, '9':9, '10':10 }, { class: 'form-control' , required: true } %>
                                <%= f.submit '送信', class: 'btn btn-primary btn-block' %>
                            <% end %>
                        </td>
                        <td class="col-2">
                            <%= f.price %>
                        </td>
                        <td class="col-2">
                        <%=  link_to cart_item_path(f.id),  method: :delete,class:"btn btn-danger ml-3"  do %>削除<% end %>
                        </td>
                    </tr>
                </tbody>
                <% end %>
            </table>
            <div class="row mb-3 mt-3">
                    <div>
                        <%= link_to root_path,class:"btn btn-primary" do %>買い物を続ける<% end %>
                    </div>
                    <div class="col-md-7 themed-grid-col">
                            
                    </div>
                    
                    <div class="col-md-3 themed-grid-col ">
                        <table class="table table-bordered">
                            <th colspan="col">合計金額</th>
                            <th colspan="col"></th>
                        </table>
                    </div>
                    
            </div>
            <div>
            <%= link_to new_order_path,class:"btn btn-success" do %>情報入力に進む<% end %>
            </div>
</div>