<div class="container">
  <h2><span class="badge bg-secondary text-white mb-3">配送先一覧/登録</span></h2>
  <%= form_with model:@send_address, local:true do |f| %>
  <div class="mb-3 row">
    <label for="staticEmail" class="col-3 col-form-label">郵便番号（ハイフンなし）</label>
    <div class="col-sm-4">
      <%= f.text_field :send_postal_code, class:"form-control"%>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-3 col-form-label">住所</label>
    <div class="col-sm-7">
       <%= f.text_field :send_address, class:"form-control" %>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-3 col-form-label">宛名</label>
    <div class="col-sm-4">
     <%= f.text_field :send_name, class:"form-control" %>
    </div>
    <div class="col-5 ">
      <button type="submit" class="btn btn-primary mb-5">新規登録</button>
    </div>
  </div>
  <% end %>
  <div class="col-md-9 offset-md-1">
     <table class="table table-bordered">
    <thead class="table-secondary">
        <tr>
            <th colspan="col">郵便番号</th>
            <th scope="col">住所</th>
            <th scope="col">宛名</th>
            <th scope="4"></th>
        </tr>
    </thead>
    <% @send_addresses.each do |f| %>

        <tbody>
          <tr>
            <td class="col-2">
              <%= f.send_postal_code  %>
            </td>
            <td class="col-5">
              <%= f.send_address %>
            </td>
            <td class="col-2">
              <%= f.send_name %>
            </td>
              <td class="col-3">
              <%= link_to edit_send_address_path(f.id), class:"btn btn-success ml-3"  do %>編集<% end %>  
              <%= link_to send_addresses_path,  method: :delete,class:"btn btn-danger ml-3"  do %>削除<% end %>
            </td>
          </tr>
        </tbody>
    <% end %>
    </table>
    </div>

</div>