
<div class="album py-5 bg-light">
    <div class="container">

        <% @items.each do |item| %>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <div class="col pt-5">
                    <div class="card shadow-sm">
                    <%= attachment_image_tag @item, :image, size: '50x50', fallback: "no_image.jpg" %><br>
                    <div class="card-body">
                    <%= item.name %><br>
                    ¥<%= item.price %>
                    </div>
                    </div>
                </div>
                <div class="col pt-5">
                    <div class="card shadow-sm">
                    <%= attachment_image_tag @item, :image, size: '50x50', fallback: "no_image.jpg" %><br>
                    <div class="card-body">
                    <%= item.name %><br>
                    ¥<%= item.price %>
                    </div>
                    </div>
                </div>
                <div class="col pt-5">
                    <div class="card shadow-sm">
                    <%= attachment_image_tag @item, :image, size: '50x50', fallback: "no_image.jpg" %><br>
                    <div class="card-body">
                    <%= item.name %><br>
                    ¥<%= item.price %>
                    </div>
                    </div>
                </div>
        </div>

        <% end %>
    </div>
    <footer class="blog-footer"><p><%= paginate @items %></p></footer>
</div>



